.bg-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#main-section {
  display: flex;
  flex-direction: column;
  /* background-color: #380104; */
  background: linear-gradient(to bottom right, #380104 40%, rgb(8, 8, 8) 80%);
  width: 50vw;
  height: 60vh;
  position: absolute;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.219);
  color: white;
  font-size: 30px;
  font-family: CustomFont, Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

@font-face {
  font-family: "CustomFont";
  src: url(../assets/fonts/Angel_wish.ttf) format("truetype"),
    url(../assets/fonts/Angel_wish.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

.title-container {
  display: flex;
  color: white;
  font-size: 30px;
  justify-content: center;
  position: relative;
  top: -3em;
  align-items: center;
  text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}

.details {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  margin-bottom:.5em;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
 
}

#bg-image {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #686767 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, #ffffff3b 1px, transparent 1px) 0 20px;
  background-size: 8px 8px; /* Adjust the size of the repeating pattern */
  background-color: #4d0202; /* Background color */
  font-family: "Arial", sans-serif;
  text-align: center;
  animation: move 5s ease-in-out infinite; /* Add animation */
}

@keyframes move {
  0% {
    background-position: 0 0; /* Starting position */
  }
  50% {
    background-position: 0 5px; /* Move down */
  }
  100% {
    background-position: 0 0; /* Return to starting position */
  }
}
