#navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  align-items: center;
  background-color: #380104;
  height: 2.2em;
  margin: 0px 0px 0px 0px;
  z-index: 1000;
}


.buttons {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.button {
  background-color: #380104;
  color: white;
  border: none;
  font-family: "CustomFont", Arial, sans-serif;
  font-size:1em;
  letter-spacing: 1px;
}

@font-face {
  font-family: "CustomFont";
  src: url(../assets/fonts/Angel_wish.ttf) format("truetype"),
    url(../assets/fonts/Angel_wish.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

.button:hover {
  background-color: #9c020a54;
}

.button:active {
  color:black;
}
